.primary-color{
    background-color: #003171;
}

.active{
    color: #ffb61e;
}

a{
    color: #ffb61e;
}

.seamless-background{
    background-image: url(14206.jpg);
    background-repeat: reapeat;
    background-size:100px 100px;
}